<h1> Professor Form</h1>
<% @professor.errors.full_messages.each do |msg|%>
<h4 class="errors"><%= msg %></h4>
<br>
<% end %>
<%= form_for(@professor) do |p| %>
    <%= p.label :name %>
    <%= p.text_field :name %>
    <%= p.label :department %>
    <%= p.text_field :department %>
    <%= p.label:level %>
    <%= p.text_field :level %>

    <%= p.submit %>
<%end%>
     
