<h1>Professors</h1>
<h2> Name: <%=@professor.name%></h2>
<p> Department: <%=@professor.department%></p>
<p><%=@professor.level%></p>

<td><%= link_to 'Edit Professor', edit_professor_path %></td> <br><br>

<td><%= button_to 'Destroy', @professor, method: :delete, data: { confirm: 'Are you sure?' } %></td> <br>  

<%= link_to "Back", professors_path %>